@import "../../variables.less";

.table {
  display: flex;
  flex: 1;
  overflow: auto;

  table {
    width: 100%;
    border-spacing: 0;

    tr {
      transition: all 0.15s ease;
      &:hover {
        background: @black-15;
        color: @white-90;
      }

      td {
        height: 45px;
        border-top: 1px solid @black-5;
        font-size: 0.875rem;
        line-height: 1.25rem;
        text-align: left;
        padding: 10px 20px;
      }
    }

    .expand-icon {
      background: @black-0;
      cursor: pointer;
      transition: all 0.3s ease;
      overflow: hidden;
      width: 16px;
      height: 16px;
      display: inline-block;
      position: relative;
      border-radius: 100%;

      &:hover {
        background: @black-3;

        .chevron {
          background: @white-90;

          &::after {
            background: @white-90;
          }
        }
      }

      > span {
        position: relative;
        left: 5px;
        bottom: 5px;
      }
    }
  }
}
